.profile__info {
    flex-basis: 62.5%;
    display: grid;
    align-items: center;
    grid-template-columns: max-content min-content;
    grid-template-rows: min-content min-content;
    column-gap: 18px;
    row-gap: 10px;
    grid-template-areas:
        "title edit-button"
        "subtitle subtitle";
}

@media screen and (max-width: 980px) {
    .profile__info {
        flex-basis: 55%;
    }
}

@media screen and (max-width: 771px) {
    .profile__info {
        flex-basis: 45%;
    }
}

@media screen and (max-width: 650px) {
    .profile__info {
        column-gap: 9px;
        row-gap: 8px;
        justify-items: center;
    }
}